<div class="col-4 right-sidebar">
      Follow Section
      <% @non_followings.each do |u|%>
        <div>
          <img src="<%= url_for(u.avatar)%>">
          <%= u.name %>
          <%= button_to 'Follow', followings_path(followed_id:u.id), method:'post' %>
        </div>        
      <% end %>
    </div>