<%= render 'left_sidebar' %>

<div class="container main">
  <div class="row">
    <div class="col-8 movie-grid">
      <%= render 'movie/movie_card'%>
    </div>

    <%= render 'who_to_follow' %>

  </div>
</div>
