<h1>User#index</h1>
<div class="container">
  <div class="row">
    <div class="col-3">
      Fixed Left Side Menu
      <%= current_user.name %>
    </div>
    <div class="col-6">
      Movie Section
    </div>
    <div class="col-3">
      Follow Section
    </div>
  </div>
</div>
