<%= render 'left_sidebar' %>

<div class="container main">
  <div class="row">
    <div class="col-3">
      Fixed Left Side Menu
      <%= current_user.name %>
    </div>
    <div class="col-6">
      Movie Section
    </div>
    <div class="col-3">
      User Profile Follow Section
    </div>
  </div>
</div>