@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


$BORDER: 0.5px solid #021125;
$SIDEBAR_BG_COLOR:#1b2a3d;
$FONT_COLOR:#516377;
$HIGHLIGHT_TEXT_COLOR: #f5f6f8;
$THEME_COLOR:#50a4e2;
$PAGE_BG_COLOR:#f5f6f8;

html,body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: $PAGE_BG_COLOR;
}
/*Left side nav*/
.main {
  margin-left: 250px;
}

.left-sidebar {
  background-color: $SIDEBAR_BG_COLOR;
  color:$FONT_COLOR;
  height: 100%;
  width: 250px;
  position:fixed;
  top: 0;
  left: 0;
  img{
    width:70px;
    height:70px;
    object-fit: fill;
    border-radius: 5px;
  }

  .profile-pic {
    border-bottom: $BORDER;
    padding: 20px 0;
  }

  .follow-meter {
    border-bottom: $BORDER;
    h4 {
      padding-top:5px;
      color: $HIGHLIGHT_TEXT_COLOR;
      margin: 0;
    }
    .follow-count {
      border-right: $BORDER;
    }
  }

  .sidenav {
    .navitem {
      padding: 15px 0;
      border-bottom: $BORDER;
      margin:0;
      a {
        color: $FONT_COLOR;
        font-size: 16px;
      }
      &:hover {
        background-color: $THEME_COLOR;
        a{
          color:$HIGHLIGHT_TEXT_COLOR;
          text-decoration: none;
        }
      }
    }
    .active{
      background-color: $THEME_COLOR;
      a{
        color:$HIGHLIGHT_TEXT_COLOR;
        text-decoration: none;
      }
    }
  }
}

.movie-grid {
  // flex-wrap: wrap;
  background-color: white;
  img {
    width: 200px;
    height: auto;
  }
  p {
    font-size: 12px;
  }

  .movies {
    flex-wrap: wrap;
  }
}

.right-sidebar {
  img{
    width: 50px;
    height: 50px;
  }

  .whoto-title {
    padding: 20px 0 0 0;
    border-bottom: $BORDER;
    p{
      color:$FONT_COLOR;
      font-weight: 700;
    }
  }

  .whofollow-card {
    padding: 20px 0;

  }

}

/*Search Movie Card */
.search-card {
  img {
    width: 100px;
    height: auto;
  }
}
.searchbar {
  padding: 20px 0;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

/* To hide the default prohibited error messages from Devise*/
#error_explanation h2 {
  display: none;
}
