@import "bootstrap";

$BORDER_COLOR: #021125;

/*Left side nav*/

.left-sidebar {
  background-color: #1b2a3d;
  color:#516377;
  img{
    width:70px;
    height:70px;
    object-fit: fill;
    border-radius: 5px;
  }

  .profile-pic, .follow-meter {
    border-bottom: 0.5px solid $BORDER_COLOR;
    padding: 20px 0;
  }
}

.movie-grid {
  flex-wrap: wrap;//not working
  img {
    width: 45%;
    height: auto;
  }
}

.right-sidebar {
  img{
    width:100px;
    height: auto;
  }
}

/*Search Movie Card */
.search-card {
  img {
    width: 35%;
    height: auto;
  }
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

/* To hide the default prohibited error messages from Devise*/
#error_explanation h2 {
  display: none;
}
